node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
*.zip

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo

# Temporary files
tmp
temp
.tmp
.cache

# Build
dist-ssr
*.local